// sass --watch shelter/pages/pets/style.scss:shelter/pages/pets/style.css
$white-color: #fff;
$ligth-grey-color: #f6f6f6;
$main-beige-color: #f1cdb3;
$header-size: 35px;
$main-font-family: "Georgia";
$main-letter-spacing: 2px;
$extra-letter-spacing: 1px;
$hovered-button: #fddcc4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: $main-font-family;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background: $ligth-grey-color;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: $main-letter-spacing;
    color: #545454;
  }

  &__subtitle {
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
    color: #292929;
  }
}

.menu__list {
  display: flex;
  gap: 35px;

  &-link {
    padding-bottom: 0;
    font-family: "Arial";
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    transition: color 0.3s ease-in;

    &:hover {
      color: #292929;
    }

    &--active {
      color: #292929;
      border-bottom: 3px solid $main-beige-color;
    }
  }
}

.main {
  flex-grow: 1;
}

.our-friends {
  &__inner {
    padding: 80px 40px 100px 40px;
    background: #f6f6f6;
  }

  &__title {
    padding-bottom: 60px;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #545454;
    letter-spacing: $main-letter-spacing;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    gap: 30px 40px;
    max-height: 1365px;
    overflow: hidden;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 40px;
    border-radius: 10px;
    background: #fafafa;
    overflow: hidden;
    cursor: pointer;

    &:hover .our-friends__item-btn {
      background: $hovered-button;
      border-color: $hovered-button;
    }

    &-img {
      height: 270px;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &-name {
      font-size: 20px;
      line-height: 22px;
      color: #545454;
      letter-spacing: $extra-letter-spacing;
    }

    &-btn {
      margin-bottom: 31px;
      padding: 13px 44px;
      font-family: "Georgia";
      font-size: 17px;
      line-height: 22px;
      letter-spacing: $extra-letter-spacing;
      background: none;
      border: 2px solid $main-beige-color;
      border-radius: 100px;
      cursor: pointer;
      transition: background 0.3s ease-in, border-color 0.3s ease-in;
    }
  }

  &__pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      width: 52px;
      height: 52px;
      font-family: $main-font-family;
      font-weight: 400;
      font-size: 20px;
      background: transparent;
      border: 2px solid $main-beige-color;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s ease-in, border-color 0.3s ease-in;

      &:hover {
        background: $hovered-button;
        border-color: $hovered-button;
      }

      &:disabled {
        color: #cdcdcd;
        border-color: #cdcdcd;
        background-color: transparent;
      }
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      width: 52px;
      height: 52px;
      font-family: $main-font-family;
      font-weight: 400;
      font-size: 20px;
      background: $main-beige-color;
      border: 2px solid $main-beige-color;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s ease-in, border-color 0.3s ease-in;

      &:hover {
        background: $hovered-button;
        border-color: $hovered-button;
      }
    }
  }
}

.contacts {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);

  &__questions {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px;

    &-column-first {
      padding-top: 17px;
      display: flex;
      flex-direction: column;
      gap: 43px;
      max-width: 300px;
    }

    &-column-second {
      margin-right: 20px;
      padding-top: 17px;
      display: flex;
      flex-direction: column;
      gap: 33px;
      max-width: 300px;
    }

    &-title {
      font-size: 35px;
      line-height: 45px;
      font-weight: 400;
      color: $white-color;
      letter-spacing: $main-letter-spacing;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      color: $main-beige-color;
      letter-spacing: $extra-letter-spacing;
      cursor: pointer;
      transition: color 0.3s ease-in;

      &:hover {
        color: #fce8d9;
      }
    }
  }
}
