* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Georgia";
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .container {
    max-width: 100%;
    overflow: hidden;
  }
}

.header {
  background: #fff;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}
@media (max-width: 800px) {
  .header__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 400px) {
  .header__inner {
    padding: 30px 53px 30px 10px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-left 0.3s ease-in;
}
.logo.logo--active {
  position: relative;
  z-index: 10;
  margin-left: calc(100vw - 320px);
}
.logo__title {
  padding-bottom: 10px;
  font-size: 32px;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #545454;
}
.logo__subtitle {
  font-family: "Arial";
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1.3px;
  color: #292929;
}

.menu__btn {
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
  transition: transform 0.3s ease-in;
}
@media (max-width: 767px) {
  .menu__btn {
    display: flex;
    position: relative;
    z-index: 10;
  }
}
.menu__btn.menu__btn--active {
  transform: rotate(90deg);
}

.menu__btn span {
  height: 2px;
  background-color: #000;
  width: 100%;
}

.menu__list {
  display: flex;
  gap: 35px;
}
@media (max-width: 767px) {
  .menu__list {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 256px;
    margin-left: 100px;
    width: 320px;
    background-color: #f6f6f6;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    transform: translateX(110%);
    transition: transform 0.3s ease-in;
  }
  .menu__list.menu__list--active {
    transform: translateX(0);
  }
}
.menu__list-link {
  padding-bottom: 0;
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  color: #545454;
  transition: color 0.3s ease-in;
}
@media (max-width: 767px) {
  .menu__list-link {
    font-size: 32px;
    padding-bottom: 7px;
  }
}
.menu__list-link:hover {
  color: #292929;
}
.menu__list-link--active {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
  cursor: default;
}

.menu-tablet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-tablet__logo {
  position: relative;
  z-index: 10;
}

.main {
  flex-grow: 1;
}

.our-friends {
  background: #f6f6f6;
}
.our-friends__inner {
  padding: 80px 40px 100px 40px;
}
@media (max-width: 780px) {
  .our-friends__inner {
    padding-bottom: 76px;
  }
}
@media (max-width: 460px) {
  .our-friends__inner {
    padding: 42px 10px;
  }
}
.our-friends__title {
  padding-bottom: 60px;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  color: #545454;
  letter-spacing: 2px;
}
@media (max-width: 780px) {
  .our-friends__title {
    letter-spacing: 2.2px;
    padding-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .our-friends__title {
    padding-bottom: 42px;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 1.5px;
  }
}
.our-friends__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  gap: 30px 40px;
  max-height: 1365px;
  overflow: hidden;
}
.our-friends__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 40px;
  border-radius: 10px;
  background: #fafafa;
  overflow: hidden;
  cursor: pointer;
  animation: smoothShow 0.5s;
}
.our-friends__item:hover {
  background: #fff;
}
.our-friends__item:hover .our-friends__item-btn {
  background: #fddcc4;
  border-color: #fddcc4;
}
.our-friends__item-img {
  height: 270px;
  object-fit: cover;
  object-position: 50% 50%;
}
.our-friends__item-name {
  font-size: 20px;
  line-height: 22px;
  color: #545454;
  letter-spacing: 1px;
}
.our-friends__item-btn {
  margin-bottom: 31px;
  padding: 13px 44px;
  font-family: "Georgia";
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  background: none;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  transition: background 0.3s ease-in, border-color 0.3s ease-in;
}
.our-friends__pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 780px) {
  .our-friends__pagination {
    margin-top: 40px;
  }
}
@media (max-width: 400px) {
  .our-friends__pagination {
    margin-top: 42px;
    gap: 10px;
  }
}
.our-friends__pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 52px;
  height: 52px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  background: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in, border-color 0.3s ease-in;
}
.our-friends__pagination-btn:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}
.our-friends__pagination-btn:disabled {
  color: #cdcdcd;
  border-color: #cdcdcd;
  background-color: transparent;
  cursor: default;
}
.our-friends__pagination-number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 52px;
  height: 52px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  background: #f1cdb3;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in, border-color 0.3s ease-in;
}
.our-friends__pagination-number:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}

.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.contacts__questions {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}
@media (max-width: 1050px) {
  .contacts__questions {
    justify-content: center;
    flex-wrap: wrap;
    gap: 61px 150px;
  }
}
@media (max-width: 870px) {
  .contacts__questions {
    column-gap: 65px;
  }
}
@media (max-width: 800px) {
  .contacts__questions {
    row-gap: 65px;
  }
}
@media (max-width: 790px) {
  .contacts__questions {
    padding: 30px 30px 0 30px;
    column-gap: 40px;
  }
}
@media (max-width: 720px) {
  .contacts__questions {
    column-gap: 150px;
  }
}
@media (max-width: 360px) {
  .contacts__questions {
    padding: 30px 10px 0 10px;
    gap: 40px;
  }
}
.contacts__questions-column-first {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 43px;
  max-width: 300px;
}
@media (max-width: 790px) {
  .contacts__questions-column-first {
    padding-top: 0;
  }
}
@media (max-width: 360px) {
  .contacts__questions-column-first {
    align-items: center;
  }
}
.contacts__questions-column-second {
  margin-right: 20px;
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  max-width: 300px;
}
@media (max-width: 780px) {
  .contacts__questions-column-second {
    gap: 34px;
  }
}
@media (max-width: 790px) {
  .contacts__questions-column-second {
    padding-top: 0;
    margin-right: 0;
  }
}
@media (max-width: 360px) {
  .contacts__questions-column-second {
    gap: 41px;
  }
}
.contacts__questions-title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}
@media (max-width: 360px) {
  .contacts__questions-title {
    align-self: center;
    max-width: 270px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1.5px;
  }
}
.contacts__questions-link {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  color: #f1cdb3;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s ease-in;
}
.contacts__questions-link:hover {
  color: #fce8d9;
}
@media (max-width: 780px) {
  .contacts__questions-link {
    letter-spacing: 1.1px;
  }
}
@media (max-width: 360px) {
  .contacts__questions-link {
    letter-spacing: 1.2px;
  }
}
@media (max-width: 360px) {
  .contacts__questions-img {
    max-width: 260px;
  }
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  transform: translateX(110%);
  transition: transform 0.3s ease-in;
}
.overlay-menu.overlay-menu--active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: smoothShow 0.5s;
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal {
  position: relative;
  max-width: 900px;
  max-height: 500px;
  border-radius: 9px;
  background-color: #fafafa;
}
@media (max-width: 1020px) {
  .modal {
    max-width: 630px;
    min-height: 350px;
  }
}
@media (max-width: 740px) {
  .modal {
    max-width: 240px;
    min-height: 341px;
  }
}
.modal__btn-close {
  position: absolute;
  top: -51px;
  right: -42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 52px;
  height: 52px;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  background: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in, border-color 0.3s ease-in;
}
@media (max-width: 740px) {
  .modal__btn-close {
    top: -52px;
    right: -30px;
  }
}
.modal__btn-close:hover {
  background: #fddcc4;
  border-color: #fddcc4;
}
.modal__img {
  border-radius: 9px 0 0 9px;
  object-fit: cover;
}
@media (max-width: 1020px) {
  .modal__img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 740px) {
  .modal__img {
    display: none;
  }
}
.modal__content {
  display: flex;
}
.modal__info {
  padding: 50px 20px 50px 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1020px) {
  .modal__info {
    padding: 10px 9px 10px 11px;
  }
}
@media (max-width: 740px) {
  .modal__info {
    padding: 10px;
    align-items: center;
  }
}
.modal__title {
  margin-bottom: 10px;
  padding-top: 2px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 2px;
}
@media (max-width: 1020px) {
  .modal__title {
    margin-bottom: 9px;
    padding-top: 1px;
  }
}
.modal__subtitle {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1px;
}
@media (max-width: 1020px) {
  .modal__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 740px) {
  .modal__subtitle {
    margin-bottom: 21px;
  }
}
.modal__description {
  margin-bottom: 39px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.9px;
}
@media (max-width: 1020px) {
  .modal__description {
    margin-bottom: 18px;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.7px;
  }
}
@media (max-width: 740px) {
  .modal__description {
    margin-bottom: 22px;
    text-align: justify;
  }
}
.modal__list {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 740px) {
  .modal__list {
    align-self: flex-start;
  }
}
.modal__list-item {
  list-style: disc;
  color: #f1cdb3;
}
.modal__list-item-text {
  font-size: 15px;
  line-height: 16px;
  color: #000;
  letter-spacing: 0.8px;
}

/*# sourceMappingURL=style.css.map */
