// sass --watch pages/pets/style.scss:pages/pets/style.css
$white-color: #fff;
$ligth-grey-color: #f6f6f6;
$main-beige-color: #f1cdb3;
$header-size: 35px;
$main-font-family: "Georgia";
$main-letter-spacing: 2px;
$extra-letter-spacing: 1px;
$hovered-button: #fddcc4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: $main-font-family;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  background: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;

    @media (max-width: 800px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (max-width: 400px) {
      padding: 30px 53px 30px 10px;
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 10px;
    font-size: 32px;
    line-height: 34px;
    font-weight: 400;
    letter-spacing: $main-letter-spacing;
    color: #545454;
  }

  &__subtitle {
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.3px;
    color: #292929;
  }
}

.menu {
  @media (max-width: 767px) {
    width: 30px;
  }
}

.menu__btn {
  width: 30px;
  height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;

  @media (max-width: 767px) {
    display: flex;
  }
}

.menu__btn span {
  height: 2px;
  background-color: #000;
  width: 100%;
}

.menu__list {
  display: flex;
  gap: 35px;

  &-link {
    padding-bottom: 0;
    font-family: "Arial";
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    transition: color 0.3s ease-in;

    &:hover {
      color: #292929;
    }

    &--active {
      color: #292929;
      border-bottom: 3px solid $main-beige-color;
      cursor: default;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.main {
  flex-grow: 1;
}

.our-friends {
  background: #f6f6f6;

  &__inner {
    padding: 80px 40px 100px 40px;

    @media (max-width: 780px) {
      padding-bottom: 76px;
    }

    @media (max-width: 460px) {
      padding: 42px 10px;
    }
  }

  &__title {
    padding-bottom: 60px;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-align: center;
    color: #545454;
    letter-spacing: $main-letter-spacing;

    @media (max-width: 780px) {
      letter-spacing: 2.2px;
      padding-bottom: 30px;
    }

    @media (max-width: 400px) {
      padding-bottom: 42px;
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 1.5px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    gap: 30px 40px;
    max-height: 1365px;
    overflow: hidden;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px 40px;
    border-radius: 10px;
    background: #fafafa;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background: #fff;
    }

    &:hover &-btn {
      background: $hovered-button;
      border-color: $hovered-button;
    }

    &-img {
      height: 270px;
      object-fit: cover;
      object-position: 50% 50%;
    }

    &-name {
      font-size: 20px;
      line-height: 22px;
      color: #545454;
      letter-spacing: $extra-letter-spacing;
    }

    &-btn {
      margin-bottom: 31px;
      padding: 13px 44px;
      font-family: "Georgia";
      font-size: 17px;
      line-height: 22px;
      letter-spacing: $extra-letter-spacing;
      background: none;
      border: 2px solid $main-beige-color;
      border-radius: 100px;
      cursor: pointer;
      transition: background 0.3s ease-in, border-color 0.3s ease-in;
    }
  }

  &__pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @media (max-width: 780px) {
      margin-top: 40px;
    }

    @media (max-width: 400px) {
      margin-top: 42px;
      gap: 10px;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      width: 52px;
      height: 52px;
      font-family: $main-font-family;
      font-weight: 400;
      font-size: 20px;
      background: transparent;
      border: 2px solid $main-beige-color;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s ease-in, border-color 0.3s ease-in;

      &:hover {
        background: $hovered-button;
        border-color: $hovered-button;
      }

      &:disabled {
        color: #cdcdcd;
        border-color: #cdcdcd;
        background-color: transparent;
        cursor: default;
      }
    }

    &-number {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
      width: 52px;
      height: 52px;
      font-family: $main-font-family;
      font-weight: 400;
      font-size: 20px;
      background: $main-beige-color;
      border: 2px solid $main-beige-color;
      border-radius: 50%;
      cursor: pointer;
      transition: background 0.3s ease-in, border-color 0.3s ease-in;

      &:hover {
        background: $hovered-button;
        border-color: $hovered-button;
      }
    }
  }
}

.footer {
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
}

.contacts {
  &__questions {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px;

    @media (max-width: 1050px) {
      justify-content: center;
      flex-wrap: wrap;
      gap: 61px 150px;
    }

    @media (max-width: 870px) {
      column-gap: 65px;
    }

    @media (max-width: 800px) {
      row-gap: 65px;
    }

    @media (max-width: 790px) {
      padding: 30px 30px 0 30px;
      column-gap: 40px;
    }

    @media (max-width: 720px) {
      column-gap: 150px;
    }

    @media (max-width: 360px) {
      padding: 30px 10px 0 10px;
      gap: 40px;
    }

    &-column-first {
      padding-top: 17px;
      display: flex;
      flex-direction: column;
      gap: 43px;
      max-width: 300px;

      @media (max-width: 790px) {
        padding-top: 0;
      }

      @media (max-width: 360px) {
        align-items: center;
      }
    }

    &-column-second {
      margin-right: 20px;
      padding-top: 17px;
      display: flex;
      flex-direction: column;
      gap: 33px;
      max-width: 300px;

      @media (max-width: 780px) {
        gap: 34px;
      }

      @media (max-width: 790px) {
        padding-top: 0;
        margin-right: 0;
      }

      @media (max-width: 360px) {
        gap: 41px;
      }
    }

    &-title {
      font-size: 35px;
      line-height: 45px;
      font-weight: 400;
      color: $white-color;
      letter-spacing: $main-letter-spacing;

      @media (max-width: 360px) {
        align-self: center;
        max-width: 270px;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.5px;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 20px;
      color: $main-beige-color;
      letter-spacing: $extra-letter-spacing;
      cursor: pointer;
      transition: color 0.3s ease-in;

      &:hover {
        color: #fce8d9;
      }

      @media (max-width: 780px) {
        letter-spacing: 1.1px;
      }

      @media (max-width: 360px) {
        letter-spacing: 1.2px;
      }
    }

    &-img {
      @media (max-width: 360px) {
        max-width: 260px;
      }
    }
  }
}
