body {
  color: #fff;
  background: #444444;
  font-family: sans-serif;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

footer {
  margin-top: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

footer .copyright {
  font-size: 14px;
  color: #000;
  text-align: center;
}

footer .copyright a {
  color: #202020;
}

footer .copyright a:hover {
  opacity: 0.5;
}

footer .copyright:before {
  content: "©";
}

.github {
  height: 20px;
}

.github:hover {
  opacity: 0.5;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: #000;
}

.github-img {
  height: 20px;
}

.github-author {
  text-decoration: none;
}

.rss:hover {
  opacity: 0.5;
}

.rss-img {
  height: 30px;
}

@media (max-width: 700px) {
  header {
    padding: 5px 15px;
  }

  header h1 {
    font-size: 35px;
    margin: 10px 0;
  }
}
