@import "./../../utils/vars.scss";

.settings-create,
.settings-update {
  display: flex;
  gap: 10px;
  padding: 5px 10px;
}

.garage {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: smoothShow 0.5s;

  .modal {
    position: relative;
    background: transparent;
    font-size: 3em;
    color: #fff;
    filter: drop-shadow(5px 5px 5px black) drop-shadow(-5px -5px 5px black);
  }
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
