$color-white: rgb(255, 255, 255);
$color-grey-dark: rgb(102, 102, 102);
$color-grey-light: rgb(223, 223, 223);
$color-grey-light2: rgb(200, 200, 200);

$color-blue-dark1: rgb(16, 12, 39);
$color-blue-dark2: rgb(47, 36, 112);
$color-blue-dark3: rgb(69, 57, 133);

%cell-active {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(190, 190, 190);
}

%setting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-grey-dark;
  border-radius: 4px;
  font-weight: 700;
  color: rgb(37, 37, 37);
  transition: background-color 0.3s ease-in;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: $color-grey-light;
}

.minesweeper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .header {
    align-self: center;
    margin-top: 10px;
  }

  .settings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;

    &__main {
      display: flex;
      gap: 10px;
    }

    &__addit {
      display: flex;
      gap: 10px;
    }

    &__level {
      @extend %setting-button;
      padding: 2px 5px;
      width: 80px;
      background-color: $color-grey-light;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }

    &__bombs {
      @extend %setting-button;
      padding: 2px 5px;
      width: 35px;
      background-color: $color-grey-light;
      outline: none;
      cursor: pointer;

      &-wrap {
        display: flex;
      }

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }

    &__records {
      @extend %setting-button;
      width: 25px;
      height: 25px;
      background-color: $color-grey-light;
      cursor: pointer;

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }

    &__sound {
      @extend %setting-button;
      width: 25px;
      height: 25px;
      background-color: $color-grey-light;
      cursor: pointer;

      &.active {
        background-color: rgb(150, 150, 150);
      }

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }

    &__theme {
      @extend %setting-button;
      width: 25px;
      height: 25px;
      background-color: $color-grey-light;
      cursor: pointer;

      &.active {
        background-color: rgb(150, 150, 150);
      }

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__bombs {
      @extend %setting-button;
      width: 50px;
      background-color: $color-grey-light;
      cursor: default;
    }

    &__time {
      @extend %setting-button;
      width: 40px;
      background-color: $color-grey-light;
      cursor: default;
    }

    &__button {
      @extend %setting-button;
      padding: 2px 5px;
      background-color: $color-white;
      cursor: pointer;

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }
  }
}

.board {
  display: grid;
  margin: 0 auto;
  margin-top: 10px;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    border: 1px solid $color-grey-dark;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease-in;

    &.celltrue {
      @extend %cell-active;
      color: black;
    }

    &.cell0 {
      @extend %cell-active;
    }

    &.cell1 {
      @extend %cell-active;
      color: rgb(0, 0, 255);
    }

    &.cell2 {
      @extend %cell-active;
      color: rgb(0, 128, 0);
    }

    &.cell3 {
      @extend %cell-active;
      color: rgb(255, 0, 0);
    }

    &.cell4 {
      @extend %cell-active;
      color: rgb(0, 0, 139);
    }

    &.cell5 {
      @extend %cell-active;
      color: rgb(165, 42, 42);
    }

    &.cell6 {
      @extend %cell-active;
      color: rgb(59, 218, 202);
    }

    &.cell7 {
      @extend %cell-active;
      color: rgb(0, 0, 0);
    }

    &.cell8 {
      @extend %cell-active;
      color: rgb(255, 255, 255);
    }
  }
}

.description {
  font-size: 13px;
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: smoothShow 0.5s;

  .modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    min-height: 300px;
    border-radius: 5px;
    background-color: #fafafa;

    &__btn-close {
      position: absolute;
      top: 15px;
      right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      width: 25px;
      height: 25px;
      background: $color-white;
      border: 1px solid $color-grey-dark;
      border-radius: 4px;
      font-size: 35px;
      cursor: pointer;
      transition: background 0.3s ease-in;

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: center;

      &.modal-info {
        padding: 30px;
        text-align: center;
        font-size: 30px;
      }
    }

    &__btn-start {
      position: absolute;
      bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      background: $color-white;
      border: 1px solid $color-grey-dark;
      border-radius: 4px;
      font-size: 22px;
      cursor: pointer;
      transition: background 0.3s ease-in;

      &:hover {
        background-color: rgb(190, 190, 190);
      }
    }
  }
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main[data-board-cells="10"] {
  .minesweeper {
    width: 300px;
  }
}

.main[data-board-cells="15"] {
  .minesweeper {
    width: 450px;
  }
}

.main[data-board-cells="25"] {
  .minesweeper {
    width: 750px;
    @media (max-width: 780px) {
      width: 600px;
    }

    @media (max-width: 620px) {
      width: 500px;
    }

    @media (max-width: 520px) {
      width: 475px;
    }
  }
}

.board[data-board-cells="10"] {
  width: 300px;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.board[data-board-cells="15"] {
  width: 450px;
  grid-template-columns: repeat(15, 30px);
  grid-template-rows: repeat(15, 30px);
}

.board[data-board-cells="25"] {
  width: 750px;
  grid-template-columns: repeat(25, 30px);
  grid-template-rows: repeat(25, 30px);

  @media (max-width: 780px) {
    width: 600px;
    grid-template-columns: repeat(25, 24px);
    grid-template-rows: repeat(25, 24px);
  }

  @media (max-width: 620px) {
    width: 500px;
    grid-template-columns: repeat(25, 20px);
    grid-template-rows: repeat(25, 20px);
  }

  @media (max-width: 520px) {
    width: 475px;
    grid-template-columns: repeat(25, 19px);
    grid-template-rows: repeat(25, 19px);
  }
}

.main.dark {
  background-color: $color-blue-dark1;

  * {
    color: $color-grey-light2;
  }

  .minesweeper {
    .settings {
      &__level,
      &__bombs,
      &__records,
      &__sound {
        background-color: $color-blue-dark2;
        border-color: $color-grey-light2;

        &:hover {
          background-color: $color-blue-dark3;
        }
      }

      &__sound.active,
      &__theme.active {
        background-color: rgb(33, 30, 48);
      }
    }

    .info {
      &__bombs,
      &__time {
        background-color: $color-blue-dark2;
        border-color: $color-grey-light2;
      }

      &__button {
        background-color: $color-blue-dark2;
        border-color: $color-grey-light2;

        &:hover {
          background-color: $color-blue-dark3;
        }
      }
    }
  }

  .board {
    .cell {
      background-color: $color-blue-dark2;
      border-color: $color-grey-light2;

      &.celltrue,
      &.cell0,
      &.cell1,
      &.cell2,
      &.cell3,
      &.cell4,
      &.cell5,
      &.cell6,
      &.cell7,
      &.cell8 {
        background-color: rgb(192, 192, 255);
        border-color: rgb(178, 178, 253);
      }
    }
  }
}
