@import "./../../utils/vars.scss";

.operator {
  color: #979797;
}

.tag {
  color: #5e0909;
}

.classEl {
  color: #2caa2c;
}

.classVal {
  color: #9e9848;
}

.html-viewer {
  &-wrapper {
    padding: 8px 8px 8px 0;
    background: $dark-gray-color;
    border-radius: 0 10px 10px 0;
    cursor: default;
    letter-spacing: 0.8px;
  }

  &-header {
    font-size: 1.7em;

    &-block {
      display: flex;
      align-items: center;
      padding: 8px;
      justify-content: space-between;
      border-radius: 0 10px 0 0;
      background: $main-gray-color;
    }

    &-file {
      font-size: 1.7em;
    }
  }

  &-code {
    height: 100%;
    padding: 5px 0 0 10px;
    background-color: $light-gray-color;
    font-size: 1.6em;

    &-item {
      margin-left: 16px;
      color: #fff;
      // pointer-events: none;

      &:hover {
        .operator,
        .tag,
        .classEl,
        .classVal {
          color: #ccc;
        }
      }
    }

    &-wrapper {
      display: grid;
      grid-template-columns: 25px 1fr;
      height: 350px;
      border-radius: 0 0 10px 0;
      overflow: hidden;
    }

    &-numbers {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5px;
      background: $main-gray-color;
      font-size: 1.6em;
    }
  }
}
