@import "./../../utils/vars.scss";

.elements {
  &-wrapper {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transform-style: flat;
  }

  &-header {
    padding: 0;
    font-size: 4em;
  }

  &-btn {
    padding: 10px 15px;
    background: $dark-gray-color;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background: $light-gray-color;
    }

    &:active {
      background: $light-gray-color;
    }
  }
}

field {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 25px;
  height: 250px;
  padding: 20px;
  background-image: url("img/grass.jpg");
  background-size: cover;
  transform-style: flat;
  transform-origin: bottom;
  transform: perspective(200px) rotateX(3deg);

  .hovered {
    filter: drop-shadow(2px 2px 2px white) drop-shadow(-2px -2px 2px white);

    > .tooltip {
      display: block;
    }
  }
}

box {
  position: relative;
  height: 170px;
  width: 150px;
  background-image: url("img/box.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  & * {
    position: absolute;
    bottom: 80px;
    left: 26px;

    .tooltip {
      bottom: -110px;
    }
  }
}

bucket {
  position: relative;
  height: 150px;
  width: 100px;
  background-image: url("img/bucket.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

  & * {
    position: absolute;
    bottom: 68px;

    .tooltip {
      bottom: -100px;
    }
  }
}

red-ball {
  height: 150px;
  width: 100px;
  background-image: url("img/red-ball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

blue-ball {
  height: 150px;
  width: 100px;
  background-image: url("img/blue-ball.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.active {
  transform-origin: center bottom;
  animation: active 1.5s infinite linear;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: -30px;
  height: 25px;
  padding: 3px;
  z-index: 10;
  background: #fff;
  font-size: 1.5em;
  font-weight: 600;
  white-space: nowrap;
}

@keyframes active {
  from {
    transform: skewX(0);
  }

  25% {
    transform: skewX(-5deg);
  }

  75% {
    transform: skewX(5deg);
  }

  to {
    transform: skewX(0);
  }
}
