@import "./utils/vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 10px;
  background: $main-gray-color;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.main {
  position: absolute;
  top: 40px;
  right: 250px;
  bottom: 80px;
  left: 0;
  height: calc(100vh - 140px);
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 41vh 1fr;
}

.error {
  animation: error 0.2s linear;
}

@keyframes error {
  from {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-8px);
  }

  75% {
    transform: translateX(8px);
  }

  to {
    transform: translateX(0);
  }
}
